Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "CV Screener – Analyse IA",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nom du candidat",
              "requiredField": true
            },
            {
              "fieldLabel": "CV"
            },
            {
              "fieldLabel": "Description du poste"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -128,
        -16
      ],
      "id": "95feb685-f545-49b3-9155-d2370ec646e9",
      "name": "On form submission",
      "webhookId": "36c4bb61-8dc9-4108-99b8-55de76a07445"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "62eab9ad-4fd3-4dba-8888-d4bd25644b87",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "zjhaucxx4xW0xIf3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un expert RH. Analyse ce CV pour le poste décrit et réponds UNIQUEMENT en JSON, sans texte avant ou après, sans markdown, sans backticks. Format exact :\n\n{\n  \"nom\": \"nom du candidat\",\n  \"score\": \"X/10\",\n  \"points_forts\": \"point1, point2, point3\",\n  \"points_faibles\": \"point1, point2, point3\",\n  \"recommandation\": \"Retenir ou À considérer ou Rejeter\"\n}\n\nNom du candidat: {{ $('On form submission').item.json['Nom du candidat'] }}\n\nCV:\n{{ $('On form submission').item.json['CV'] }}\n\nDescription du poste:\n{{ $('On form submission').item.json['Description du poste'] }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        48,
        -16
      ],
      "id": "2fb939f1-3e8d-410f-a73c-1e670ef046f3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -16
      ],
      "id": "37cfdd6b-66cd-4465-b693-1a621db99ddc",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Basic LLM Chain').item.json.text;\n\n// Fix missing closing brace\nlet cleaned = raw.trim();\nif (!cleaned.endsWith('}')) cleaned += '}';\n\n// Extract JSON\nconst match = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error(\"No JSON found in response\");\n\nconst parsed = JSON.parse(match[0]);\n\nreturn [{\n  json: {\n    Nom: parsed.nom,\n    Score: parsed.score,\n    Points_forts: parsed.points_forts,\n    Points_faibles: parsed.points_faibles,\n    Recommandation: parsed.recommandation,\n    Date: new Date().toLocaleDateString('fr-FR')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -16
      ],
      "id": "0197409a-7477-4a80-9390-f458e635b004",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d5a3916d-bfb2-48bc-b413-d065f32d92bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f824768480f68f1c48dcab694d9c99c8fbdc39d2c9955854e47f0168f05748a9"
  },
  "nodeGroups": [],
  "id": "7TBOTSTpmJyWktN2",
  "tags": []
}